.title_position {
    margin-bottom: 50px !important;
    margin-top: 60px !important;
}

.box_content {
    background-color: #fcfcfc;
    padding-top: 14px;
    padding-bottom: 14px;
}

.data-section {
    width: 500px;
}

.post_job_title {
    margin-top: -12px !important;
    margin-bottom: 8px !important;
}
.form-field {
    margin: 8px 0 !important;
}

.upload-button {
    margin: 16px 0 !important;
}

.MuiRadio-colorSecondary.Mui-checked {
    color: #3f51b5 !important;
}
